<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Engineer On Call</title>
        <meta content="engineer on call" name="keywords" />

        <!-- SEO Meta Tags -->
        <meta name="language" content="English" />
        <meta name="”robots”" content="index" />
        <meta name="author" content="Agrim Chopra" />
        <meta
            name="description"
            content="Engineer on call is a consultancy service to hire a trained civil engineer for methodical inspection of the construction site"
        />
        <meta name="theme-color" content="#a43692" />

        <!-- Favicons -->
        <link href="/assets/img/favicon.png" rel="icon" />
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link
            href="/assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
        <link
            href="/assets/vendor/boxicons/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link
            href="/assets/vendor/owl.carousel//assets/owl.carousel.min.css"
            rel="stylesheet"
        />
        <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet" />
        <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link href="/assets/css/style.css" rel="stylesheet" />

        <!-- =======================================================
  * Template Name: BizLand - v1.2.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    </head>

    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">
                <h1 class="logo mr-auto">
                    <a href="index.html">Engineer On Call<span>.</span></a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo mr-auto"><img src="/assets/img/logo.png" alt=""></a>-->

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#about">What We Do</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <!-- .nav-menu -->
            </div>
        </header>
        <!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1>Engineer On Call</h1>
                <h2>
                    Get Quality Assurance For Your Construction At Affordable
                    Prices
                </h2>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started scrollto"
                        >Get Started</a
                    >
                </div>
            </div>
        </section>
        <!-- End Hero -->

        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>What We Do</h2>
                        <h3>Find Out More <span>About Us</span></h3>
                        <p>About our work, and why you need it</p>
                    </div>

                    <div class="row">
                        <div
                            class="col-lg-6"
                            data-aos="zoom-out"
                            data-aos-delay="100"
                        >
                            <img
                                src="/assets/img/about.svg"
                                class="img-fluid"
                                alt=""
                            />
                        </div>
                        <div
                            class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
                            data-aos="fade-up"
                            data-aos-delay="100"
                        >
                            <!-- <h3>
                                Voluptatem dignissimos provident quasi corporis
                                voluptates sit assumenda.
                            </h3> -->
                            <p class="font-italic">
                                We provide quality assistance to you at your
                                construction site.
                            </p>
                            <ul>
                                <li>
                                    <i class="bx bx-store-alt"></i>
                                    <div>
                                        <h5>
                                            Quality of your construction does
                                            matter.
                                        </h5>
                                        <p>
                                            The small details during the
                                            construction of your house or office
                                            can have a large impact on you and
                                            your family's safety.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <i class="bx bx-images"></i>
                                    <div>
                                        <h5>
                                            Transition from unorganised to
                                            organised sector
                                        </h5>
                                        <p>
                                            Just spare a small amount to take
                                            care of your millions you are
                                            spending on your precious dream, by
                                            booking a site visit of a Civil
                                            Engineer with over 30 years of
                                            experience.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <p>
                                We inspect your construction site as per your
                                requirement, and can provide valuable insights
                                to you. This can be helpful to ensure that your
                                contractor is not cheating you, or has not
                                forgot something unintentionally.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Services</h2>
                        <h3>Check our <span>Services</span></h3>
                        <p>See what you get for each engineer visit</p>
                    </div>

                    <div class="row align-items-center justify-content-around">
                        <div
                            class="col-md-4 col-10 serviceCard"
                            data-aos="zoom-in"
                            data-aos-delay="100"
                        >
                            <div class="icon-box">
                                <h4>Mandatory Checks</h4>
                                <hr />
                                <p>
                                    The Civil Engineer shall visit and check the
                                    on-going construction.
                                </p>
                                <br />
                                <p>
                                    He shall explain in detail to site-labour,
                                    how to go ahead with good quality and
                                    workmanship.
                                </p>
                            </div>
                        </div>

                        <div
                            class="col-md-4 col-10 serviceCard"
                            data-aos="zoom-in"
                            data-aos-delay="200"
                        >
                            <div class="icon-box">
                                <h4>Optional Checks</h4>
                                <hr />
                                <p>
                                    The client may choose
                                    <strong>any 3</strong> of the following
                                    checks in every visit:
                                </p>
                                <ul>
                                    <li>
                                        To compare drawings with the actual
                                        execution and point out defects
                                    </li>
                                    <li>
                                        To point out any discrepancies in
                                        drawings for Architect's or Structural
                                        Engineer's attention
                                    </li>
                                    <li>
                                        To check the layout for foundation,
                                        columns, lifts, basements and walls
                                    </li>
                                    <li>
                                        To check the shuttering and
                                        reinforcement(Saria) as per drawing
                                        before casting of roof slab
                                    </li>
                                    <li>
                                        To check running RCC casting of Slabs,
                                        Columns, Basement walls, foundation raft
                                    </li>
                                    <li>To guide on building bye-laws</li>
                                    <li>
                                        To guide on plumbing, drainage and
                                        electical drawings and design
                                    </li>
                                    <li>
                                        To guide on water proofing techniques
                                        for the building
                                    </li>
                                    <li>
                                        To guide on interior work, doors and
                                        windows design, staricase design to go
                                        side by side the civil construction
                                    </li>
                                    <li>
                                        To guide on installation of roof top
                                        solar system
                                    </li>
                                    <li>
                                        To mediate in
                                        payment/measurement/billing disputes
                                        with the petty contractors and
                                        building-material-suppliers
                                    </li>
                                    <li>
                                        To guide on any other matter in on-going
                                        construction, like installation of lift,
                                        earthing, front ramp, etc.
                                    </li>
                                    <li>
                                        To guide on repair, strengthening and
                                        restoration of weak structures
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Services Section -->

            <!-- ======= Pricing Section ======= -->
            <section id="pricing" class="pricing">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Pricing</h2>
                        <h3>Check our <span>Pricing</span></h3>
                        <p>
                            We offer various plans and packages to suit your
                            need
                        </p>
                    </div>

                    <div class="row align-items-around justify-content-around">
                        <div
                            class="col-lg-3 col-12"
                            data-aos="fade-up"
                            data-aos-delay="100"
                        >
                            <div class="box">
                                <h3>Single Visit</h3>
                                <h4>
                                    <sup>&#8377;</sup>3500<sub>plus GST</sub>
                                    <span>/ visit* </span>
                                </h4>
                                <ul>
                                    <li>Single Visit</li>
                                    <li>
                                        Time as needed to fulfill the
                                        requirements
                                    </li>
                                    <li>On an average, 1-2 hours</li>
                                    <li>Services remain the same</li>
                                </ul>
                                <div class="btn-wrap">
                                    <a href="#form" class="btn-buy">Book Now</a>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-lg-3 col-12 mt-50 mt-md-0"
                            data-aos="fade-up"
                            data-aos-delay="200"
                        >
                            <div class="box">
                                <h3>Monthly</h3>
                                <h4>
                                    <sup>&#8377;</sup>25000<sub>plus GST</sub
                                    ><br />
                                    <span>/ month* </span>
                                </h4>
                                <ul>
                                    <li>
                                        Comprehensive package to cover all
                                        services
                                    </li>
                                    <li>
                                        All optional services will also be given
                                    </li>
                                    <li>
                                        20 visits per month(including weekends)
                                    </li>
                                </ul>
                                <div class="btn-wrap">
                                    <a href="#form" class="btn-buy">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-12 mt-50 mt-md-0"
                            data-aos="fade-up"
                            data-aos-delay="200"
                        >
                            <div class="box">
                                <h3>Custom Package</h3>
                                <h4>Custom</h4>
                                <ul>
                                    <li>
                                        Customise and form a new package by
                                        talking to us
                                    </li>
                                    <li>
                                        Get suitable price according to the
                                        package
                                    </li>
                                </ul>
                                <div class="btn-wrap">
                                    <a href="#form" class="btn-buy">Book Now</a>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 justify-content-center align-items-center"
                        >
                            <br />
                            <p class="terms">
                                * Rates are applicable for Delhi area only. May
                                vary for other areas.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Pricing Section -->

            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Contact</h2>
                        <h3><span>Contact Us</span></h3>
                        <p>You can reach us through various means</p>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="info-box mb-4">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>
                                    229, Vardhman Fashion Mall, Guru Harkishan
                                    Marg,<br />
                                    Pitampura, Delhi - 110034
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="info-box mb-4">
                                <a href="mailto:info@engineeroncall.in">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>info@engineeroncall.in</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="info-box mb-4">
                                <a href="tel:9811946638">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>+91-9811946638</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-12 col-lg-6">
                            <iframe
                                class="mb-4 mb-lg-0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.038159931958!2d77.11171651536888!3d28.688505082395668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03f1fda01033%3A0x822167575a3d5b60!2sTouchstone%20Construction%20Services!5e0!3m2!1sen!2sin!4v1620666159436!5m2!1sen!2sin"
                                frameborder="0"
                                style="border: 0; width: 100%; height: 384px"
                                allowfullscreen
                            ></iframe>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4>Book A Visit</h4>
                            <hr />
                            <p class="note">
                                Note: Acceptance of request is subject to
                                availability of slot
                            </p>
                            <form id="form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            placeholder="Your Name Here"
                                            required
                                        />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phoneNumber"
                                            >Phone Number</label
                                        >
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="phoneNumber"
                                            placeholder="Your Phone Number Here"
                                            required
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="inputAddress"
                                        placeholder="Site Address Here"
                                        required
                                    />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputState">Package</label>
                                        <select
                                            id="inputState"
                                            class="form-control"
                                        >
                                            <option
                                                value="Single Visit"
                                                selected
                                            >
                                                Single Visit
                                            </option>
                                            <option value="Monthly">
                                                Monthly
                                            </option>
                                            <option value="Custom">
                                                Custom
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="date" class="toHide"
                                            >Date
                                        </label>
                                        <input
                                            type="date"
                                            class="form-control toHide"
                                            id="date"
                                            required
                                        />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="time" class="toHide"
                                            >Time</label
                                        >
                                        <input
                                            type="time"
                                            class="form-control toHide"
                                            id="time"
                                            required
                                        />
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Submit Request
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Section -->
        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-md-6 footer-contact justify-content-center align-items-center"
                        >
                            <h3>Engineer On Call</h3>
                            <p>
                                229, Vardhman Fashion Mall<br />
                                Guru Harkishan Marg, Pitampura <br />
                                Delhi 110034 - India<br /><br />
                                <strong>Phone:</strong> +91-9811946638<br />
                                <strong>Email:</strong>
                                info@engineeroncall.in<br />
                            </p>
                        </div>

                        <div
                            class="col-md-6 footer-links justify-content-center align-items-center"
                        >
                            <h4>Useful Links</h4>
                            <ul>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#hero">Home</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#about">About us</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#services">Services</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#pricing">Pricing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>BizLand</span></strong
                    >. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
                    Designed by
                    <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>
        <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/assets/vendor/counterup/counterup.min.js"></script>
        <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/assets/vendor/venobox/venobox.min.js"></script>
        <script src="/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>
